html
{
    height:100%;
}
body.home
{
    background-image:url(../images/header-bg1.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    color:#fff;
}
#homepage h1
{
    text-align:center;
    color:#fff;
}
#homepage #createRoom
{
    padding:40px;
}
#subTitle
{
    margin-left:25px;
}
#console .row
{
    margin-left:0;
    margin-right:0;
}
#console .header h1 a, #console .header h1 a:hover
{
    color:#2c3e50;
    text-decoration:none
}
.header
{
    margin-bottom:20px;
}
.headerright
{
    padding-top:20px;
    text-align:right;
}
#scroller{
    display: inline-block;
    width: 100%;
}
#scroller video
{
    width:49.9%;
    border:5px solid #888;
    float:left;
}
#scroller:after{
    clear:both;
}
#scroller #localVideo
{
    border:5px solid #18bc9c;
}
#menuToggle{
    background: rgba(0,0,0,0.6);
}
.menu h1.logo {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: 800;
letter-spacing: 0.15em;
line-height: 40px;
text-transform: uppercase;
color: #ffffff;
margin-top: 20px;
margin-left: 20px;
display: block;
}
@media (max-width: 767px) {
#scroller video
{
    width:100%;
}